<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.enrico.basketapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <provider
    			android:name="info.enrico.basketapp.calendar.CalendarProvider"
    			android:authorities="info.enrico.basketapp.calendar.calendarprovider" />
        <activity
            android:name="info.enrico.basketapp.activity.MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>                
        <activity
            android:label="@string/entrenamiento_title"
            android:name="info.enrico.basketapp.activity.EntrenamientosActivity" >
        </activity>
        <activity
            android:label="@string/equipos_title"
            android:name="info.enrico.basketapp.activity.EquiposActivity" >
        </activity>
        <activity
            android:label="@string/calendario_title"
            android:name="info.enrico.basketapp.activity.CalendarioActivity" >            
        </activity>
        <activity
            android:label="@string/ayuda_title"
            android:name="info.enrico.basketapp.activity.AyudaActivity" >
        </activity>
        <activity
            android:label="@string/anadirEntrenamiento_title"
            android:name="info.enrico.basketapp.activity.AnadirEntrenamientoActivity" >
        </activity>
        <activity
            android:label="@string/anadirEquipo_title"
            android:name="info.enrico.basketapp.activity.AnadirEquipoActivity" >
        </activity>
        <activity
            android:label="@string/anadirJugador_title"
            android:name="info.enrico.basketapp.activity.AnadirJugadorActivity" >
        </activity>
        <activity
            android:label="@string/entrenamiento_title"
            android:name="info.enrico.basketapp.activity.EntrenamientoActivity" >
        </activity>
        <activity
            android:label="@string/equipo_title"
            android:name="info.enrico.basketapp.activity.EquipoActivity" >
        </activity>
        <activity
            android:label="@string/jugadores_ficha"
            android:name="info.enrico.basketapp.activity.FichaJugadorActivity" >
        </activity>
        <activity
            android:label="@string/jugadores_equipo"
            android:name="info.enrico.basketapp.activity.JugadoresActivity" >
        </activity>
        
    </application>

</manifest>